<!DOCTYPE html>
<html lang="en">
<head>
  <% include ./partials/_head %>
</head>
<body>
<center>
  <% include ./partials/_header %>
  <form action="/" method="POST" style="margin:150px;">
  	<h3>Enter username</h3>
  	<input type="text" name="username" style="width: 300px">
  	<input type="submit" value="Enter">
  </form>
  <% include ./partials/_footer %>
</center>
</body>
</html>