<!DOCTYPE html>
<html lang="en">
<head>
  <% include ./partials/_head %>
</head>
<body>
<center>

	  <% include ./partials/_header %>
</center>
	 	
	  <div class="opponent_desk">
	  	<h2>OPP DESK HERE</h2>
	  </div>

	  <div class="player_desk">
	  	<h2>PLAYER DESK HERE</h2>
	  </div>

<center>
	  <% include ./partials/_footer %>
</center>
</body>
</html>