<!DOCTYPE html>
<html lang="en">
<head>
  <% include ./partials/_head %>
  <style>
  	#p2-5 {
  		background-color: red;
  	}
	</style>
</head>
<body>

	  <% include ./partials/_header %>
	 	
	  <div class="opponent_desk">
	  	<div class="opponent_board"></div>
	  </div>

	  <div class="player_desk">
	  	<div class="player_board">
	  		<% for(let x = 0; x < 10; x++) { %>
	  			<% for(let y = 0; y < 10; y ++) { %>
	  				<div id="p<%=x%>-<%=y%>"></div>
	  			<% } %>
	  		<% } %>
	  	</div>
	  </div>


	  <% include ./partials/_footer %>

</body>
</html>